{% extends 'base.html.twig' %}

{% block title %}New Tarif{% endblock %}

{% block body %}
    <h1>Create new Tarif</h1>

    {{ include('tarif/_form.html.twig') }}

    <a href="{{ path('app_tarif_index') }}">back to list</a>
{% endblock %}
